.chart_container{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 500px; */

}

.skill_set_title{
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.doughnut_chart1{
    width: 45%;
    height: 45%;
    margin-top: 100px;
    color:white;
} 

.doughnut_chart2{
    width: 45%;
    height: 45%;
    margin-top: 100px;
    color: white;
    
}