.container_project_main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-top: 3%;
  padding-top: 2%;
  perspective: 1px;
  
}

.container_pro_inner{
  width:100%;
  flex-wrap: wrap;
  display:flex;
  justify-content: space-around;
  min-height: 100vh;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
} 

.container_project_pro{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  margin-bottom: 3%;
}   

.button_project{
    margin-top: 25vh;
    border-radius: 14px;
    z-index: 2;
    height: 55px;
    font-size:20pt;
    padding: 5px;
    text-align: center;
    margin:5px;
    margin-left:100px;
}

.p_left{
  width: 60%;
  padding-left:30px;
}

.p_right{
  width: 40%;
}

.top_headline_pro{
  display:flex;
  justify-content: space-around;
} 

.top_headline_pro_tex_big{
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: 65pt;
  margin-left: -100px;
  margin-top: 60px;
}

.container_project{
    z-index: 1;
    width: 20%;
    height: 300px;
    margin: 2%;
    background-color: beige;
}

.cont_header_text{
    z-index: 1;
    width: 100%;
    letter-spacing: 0.0em;
}

.cont_header_text{
  z-index: 1;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.0em; 
  color: black;
  /* color: #FFF; */
  position: relative;
}

.right_side{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  width: 65%;
  margin-top: 10vh;
}

.left_side{
display: flex;
justify-content: center;
flex-wrap: wrap;
text-align: left;
width: 35%;
font-size: 65pt;
}

.headline_leftside_header{
font-weight: bold;
color: white;
margin-left: 5vh;
}

.headline_leftside_text{
  font-weight: bold;
  color: white;
  margin-left: 5vh;
  font-size: 30pt;
  }
  

.line_top_t{
width: 12%;
display: block;
position: absolute;
margin-top: 19vh;
margin-bottom: 0.5em;
margin-left: 7vh;
height: 4px;
border-style: inset;
border-width: 2px;
border-radius: 15px;
border-color: white
}

.line_bottom_t{
width: 12%;
display: block;
position: absolute;
margin-top: 15vh;
margin-bottom: 0.5em;
margin-left: 0%;
height: 4px;
border-style: inset;
border-width: 2px;
border-radius: 15px;
border-color: white
}

.container_pro_hidden{
  z-index:4;
  left: 0;
  position: fixed;
  min-height: 200vh; /*Här ä'ndrar du höjden på den gömda sidan*/
  /* margin-top: 2%; */
  /* top: 200vh; */
  right: 0;
  display:none;
  padding-bottom: 2%;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
}

.container_pro_show{
  display:flex;
  z-index:5;
  left: 0;
  position: absolute;
  right: 0;
  padding-bottom: 2%;
  min-height: 100vh;
  background-size: cover;
  transform-origin: center center 0;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
}

/* .card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
} */

/* RESPONSIVE */
/* @media screen and (max-width: 360px) {
  .container_project{
    height: 150px;
  }
} */