* {
  scroll-behavior: smooth;
}
html{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* .fff{
  margin-top: 60vh;
  background-color: black;
  display: flex;
  z-index: 1;
  justify-content: center;
} */

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* perspective: 1px; */
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

.section1, .section2, .section3, .section4{
  box-sizing: border-box;
  min-height: 100vh;
  /* max-height: 100vh; */
  padding: 0vh 0vh 0vh 0vh;
  position: relative;
  transform-style: inherit;
}

.section1 *, .section2 *, .section3 *, .section4 * {
  font-weight: normal;
  letter-spacing: 0.2em;
}

.section1::before{
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  /* /* top: 120vh; */
  display: block;
  background-image: url(./images/pic2.png);
  background-size: cover;
  transform-origin: center center 0;
  /*transform: translateZ(-1px) scale(2); */
  z-index: -1;
  min-height: 100vh;
}

.section2::before{
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  /* /* top: 120vh; */
  display: block;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
  background-size: cover;
  transform-origin: center center 0;
  /*transform: translateZ(-1px) scale(2); */
  z-index: -1;
  min-height: 100vh
}

.section2{
  z-index:3;
}

.section3::before{
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  /* /* top: 120vh; */
  display: block;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
  background-size: cover;
  transform-origin: center center 0;
  /*transform: translateZ(-1px) scale(2); */
  z-index: -1;
  min-height: 100vh;
}

.section4::before{
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 360vh;
  display: block;
  background: rgb(176,112,143);
  background: linear-gradient(90deg, rgba(176,112,143,1) 58%, rgba(114,64,100,1) 100%);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

/* .section1_content{
  padding-top: 30vh;
}

.section2_content{
  padding-top: 120vh;
}

.section3_content{
  padding-top: 240vh;
}

.section4_content{
  padding-top: 360vh;
} */

.footer{
  display: flex;
  justify-content: center;
  text-align: center;
}